<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="Database"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\nagyn\source\repos\norbinagy\airborne-dust-monitor\AirborneDustMonitor.Infrastructure\Database.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>